#TeamApp {
    width: 140px;
    height: 140px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    background-image: url("../../public/HomeIco/BlurTeam.png");
    background-size: cover;
    margin: 0;
}

#TeamApp.displayed {
    z-index: 1;
}

#TeamApp #TeamWindow {
    background-color: white;
    display: none;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 25px;
    top: 0;
    left: 0;
}

#TeamApp.displayed #TeamWindow {
    display: block;
    animation: scaleTeam 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes scaleTeam {
    0% {
        width: 140px;
        height: 140px;
        transform: translateX(0) translateY(0);
    }
    100% {
        height: var(--height-app);
        width: var(--width-app);
        transform: translateX(-510px) translateY(-325px);
    }
}
