#TeamApp {
    width: 140px;
    height: 140px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    background-image: url("../../public/HomeIco/BlurTeam.png");
    background-size: cover;
    margin: 0;
    position: relative;
    transition: z-index 0.5s 0.51s linear;
    z-index: 0;
}

#TeamApp.displayed {
    z-index: 1;
    transition: none;
}

#TeamApp #TeamWindow {
    background-color: white;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    background-image:  url('../../public/team_menu.png');
    background-size: 100% 100%;
    display: block;
    transform: translate(0px, 0px);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s 0.51s linear, z-index 0.5s 0.51s linear;
}

#TeamApp.displayed #TeamWindow {
    z-index: 10;
    opacity: 1;
    width: var(--width-app);
    height: var(--height-app);
    transform: translate(-510px, -325px);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}


#TeamApp #TeamWindow  > * {
    opacity: 0;
}

#TeamApp.displayed #TeamWindow > * {
    animation: showInsideTeam 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes showInsideTeam {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pokemonList {
    position: absolute;
    margin-top: 140px;
    margin-left: 0px;
}
.pokemonSpriteDiv {
    position: absolute;
    margin-left: 700px;
    margin-top: 300px;
}
.pokemonSprite {
    height: 250px;
    width: 250px;
}
input {
    display: none;
}
ul {
    list-style: none;
}