#ProfileApp {
    width: 140px;
    height: 140px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    overflow: hidden;
    background-image: url("../../public/HomeIco/BlurProfile.png");
    background-size: cover;
    margin: 0;
    position: relative;
    transition: z-index 0.5s 0.51s linear;
    z-index: 0;
}

