:root {
  --width-app: 1000px;
  --height-app: 625px;
  --width-app-no-px: 1000;
  --height-app-no-px: 625;
}

#App {
  text-align: center;
  width: var(--width-app);
  height: var(--height-app);
}

#App > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row, .flex-column {
  display: flex;
  row-gap: 25px;
  column-gap: 50px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.temp-cube {
  width: 140px;
  height: 140px;
  border-radius: 25px;
  background: linear-gradient(143.73deg, rgba(246, 232, 232, 0.3) 15.9%, rgba(217, 217, 217, 0.1) 85.78%);
  backdrop-filter: blur(20px);

}

.littleIco {
  width: 60%;
}

#backdrop {
  width: 100%;
  height: 100%;
  background: linear-gradient(3.85deg, rgba(20, 19, 19, 0.4) 3.15%, rgba(33, 30, 31, 0) 101.7%);
  backdrop-filter: blur(7.5px);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

h2 {
  color: white;
  display: inline-block;
  margin: 0;
  font-size: 4em;
}


.flex-max-2 {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
}
.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #001052, #1761b0);  background-size: 400%;
  animation: bganimation 25s infinite;
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

@keyframes bganimation {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0019 100.00%);
  width: 68%;
  padding-top: 68%;
  left: 48%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
  width: 40%;
  padding-top: 40%;
  left: 72%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
  width: 35%;
  padding-top: 35%;
  left: 37%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
  background: linear-gradient(132deg, #ff7b00 0.00%, #ff6600 100.00%);
  width: 106%;
  padding-top: 106%;
  left: 0%;
  top: 106%;
  transform: translateX(-50%) translateY(-50%);
}

#App .login {
  width: var(--width-app);
  max-height: var(--height-app);
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 60px 20px 60px 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(143.73deg, rgba(246, 232, 232, 0.3) 15.9%, rgba(217, 217, 217, 0.1) 85.78%);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  overflow: auto;
}

#App .login h2 {
  font-size: 70px;
  font-weight: 600;
  color: white;
}

#App .login p {
  font-size: 17px;
  font-weight: 600;
  color: white;
  margin: 0;
}

#App .login a {
  font-size: 17px;
  font-weight: 600;
  color: #69DAF3;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

#App .login .underline-connection {
  width: 200px;
  height: 4px;
  border-radius: 2px;
  background: white;
  margin-bottom: 30px;
}

#App .login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

#App .login form input {
  display: block;
  border-radius: 10px;
  border: none;
  padding: 15px;
  width: 300px;
  background-color: #bdbdbd;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

#App .login form button {
  border-radius: 10px;
  border: none;
  padding: 15px;
  width: 250px;
  cursor: pointer;
  background-color: #69DAF3;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

#App .login form button:hover {
  transform: scale(1.03);
}

#App .login form button:active {
  transform: scale(0.97);
}

#App .login form button.loadingButton {
  cursor: default;
  pointer-events: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#App .login form button.loadingButton .loadingButtonSpinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  transform: translate(-2px, -2px);
}

#App .login form button.loadingButton .loadingButtonSpinner div {
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  color: white;
  position: absolute;
}

#App .login form button.loadingButton .loadingButtonSpinner div:nth-child(2) {
  animation-delay: -0.5s;
}

#App .login img {
  height: 80%;
  bottom: 10%;
  position: absolute;
  filter: grayscale(70%);
  cursor: pointer;
}

#App .login img.selected {
  animation: bounce 2s infinite linear;
  filter: none;
  cursor: default;
}

#App .login img:nth-child(2) {
  left : 0px;
}

#App .login img:nth-child(3) {
  right: 0px;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}

#App .login .underline-form-connection {
  width: 150px;
  height: 4px;
  border-radius: 2px;
  background: white;
}