#App {
  text-align: center;
  width: 775px;
  height: 475px;
}

#App > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row, .flex-column {
  display: flex;
  row-gap: 25px;
  column-gap: 50px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.temp-cube {
  width: 105px;
  height: 105px;
  border-radius: 25px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: rgba(255, 0, 0, 0.2);
}

.flex-max-2 {
  width: 225px;
  height: 225px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 15px;
  row-gap: 15px;
}
.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #001052, #1761b0);
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0019 100.00%);
  width: 68%;
  padding-top: 68%;
  left: 48%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
  width: 40%;
  padding-top: 40%;
  left: 72%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
  width: 35%;
  padding-top: 35%;
  left: 37%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
  background: linear-gradient(132deg, #ff7b00 0.00%, #ff6600 100.00%);
  width: 106%;
  padding-top: 106%;
  left: 0%;
  top: 106%;
  transform: translateX(-50%) translateY(-50%);
}

