#App {
  text-align: center;
  width: 1000px;
  height: 625px;
}

#App > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row, .flex-column {
  display: flex;
  row-gap: 25px;
  column-gap: 50px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.temp-cube {
  width: 140px;
  height: 140px;
  border-radius: 25px;
  background: linear-gradient(143.73deg, rgba(246, 232, 232, 0.3) 15.9%, rgba(217, 217, 217, 0.1) 85.78%);
  backdrop-filter: blur(20px);

}

.littleIco {
  width: 60%;
}

#backdrop {
  width: 100%;
  height: 100%;
  background: linear-gradient(3.85deg, rgba(20, 19, 19, 0.4) 3.15%, rgba(33, 30, 31, 0) 101.7%);
  backdrop-filter: blur(7.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

h2 {
  color: white;
  display: inline-block;
  margin: 0;
  font-size: 4em;
}


.flex-max-2 {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
}
.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #001052, #1761b0);  background-size: 400%;
  animation: bganimation 25s infinite;
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

@keyframes bganimation {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0019 100.00%);
  width: 68%;
  padding-top: 68%;
  left: 48%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
  width: 40%;
  padding-top: 40%;
  left: 72%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
  width: 35%;
  padding-top: 35%;
  left: 37%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
  background: linear-gradient(132deg, #ff7b00 0.00%, #ff6600 100.00%);
  width: 106%;
  padding-top: 106%;
  left: 0%;
  top: 106%;
  transform: translateX(-50%) translateY(-50%);
}

