#SettingsApp {
    width: 140px;
    height: 140px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    overflow: hidden;
    background-image: url("../../public/HomeIco/BlurSettings.png");
    background-size: cover;
    margin: 0;
}

