#EggApp {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    overflow: hidden;
    background-image: url("../../public/HomeIco/EggIco.png");
    background-size: cover;
    margin: 0;
}

