#EggApp {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    background-image: url("../../public/HomeIco/EggIco.png");
    background-size: cover;
    margin: 0;
    position: relative;
    transition: z-index 0.5s 0.51s linear;
    z-index: 0;
}

#EggApp.displayed {
    z-index: 1;
    transition: none;
}

#EggApp #EggWindow {
    background-color: white;
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    background-image:  url('../../public/eggWindow.png');
    background-size: 100% 100%;
    display: block;
    transform: translateY(0px);
    animation: unScaleEgg 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#EggApp:not(.displayed) #EggWindow {
    transition: opacity 0.5s linear;
}

#EggApp.displayed #EggWindow {
    z-index: 10;
    opacity: 1;
    transform: translateY(-325px);
    animation: scaleEgg 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#EggApp #EggWindow  > * {
    opacity: 0;
}

#EggApp.displayed #EggWindow > * {
    animation: showInsideEgg 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes scaleEgg {
    0% {
        height: 300px;
        width: 300px;
        transform: translateY(0);
    }
    100% {
        height: var(--height-app);
        width: var(--width-app);
        transform: translateY(-325px);
    }
}

@keyframes unScaleEgg {
    0% {
        height: var(--height-app);
        width: var(--width-app);
        transform: translateY(-325px);
    }
    100% {
        height: 300px;
        width: 300px;
        transform: translateY(0);
    }
}

@keyframes showInsideEgg {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Incubators {
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 65%;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

#Incubators .Incubator {
    width: calc(((var(--width-app)*0.65)/3) - 10px);
    height: calc(((var(--width-app)*0.65)/3) - 10px);
    padding: 20px;
    border-radius: 20px;
    background-color: aliceblue;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: help;
}

#Incubators .Incubator:not(.used) {
    justify-content: center;
}

#Incubators .Incubator .IncubatorBar {
    background-color: #45E38E;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#Incubators .Incubator .IncubatorEgg {
    z-index: 1;
    width: 50%;
}

#Incubators .Incubator:not(.used) {
   background-color: #473D3D;
}

#Incubators .Incubator:not(.used) .IncubatorEgg,
#Incubators .Incubator:not(.used) .IncubatorImg,
#Incubators .Incubator:not(.used) h4:nth-of-type(1)
 {
   display: none;
}

#Incubators .Incubator.used  h4:nth-of-type(2)
 {
   display: none;
}

#Incubators .Incubator .IncubatorImg {
    position: absolute;
    left: 50%;
    top: 18px;
    transform: translateX(-50%);
    width: 70%;
}

#Incubators .Incubator h4:nth-of-type(1) {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    z-index: 1;
}

#Incubators .Incubator h4:nth-of-type(2) {
    font-size: 20px;
    color: white;
    margin: 0;
    z-index: 1;
}